h1 {
  padding: 1em;
  text-align: center;
  width: 100%;
  margin: 0;
  font-family: 'Signika', sans-serif;
}

.title {
  background-color: #ede252;
}

.content {
  display: flex;
  justify-content: space-around;
  font-family: 'IM Fell Great Primer', serif;
  background-color: #65524D;
  color: #CEC1AA;
}

.updateButton {
  margin-top: 2em;
}

.container {
  margin-top: 1em;
}

input {
  margin-bottom: 3em;
  margin-left: .75em;
}

p {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: bold;
}

textarea {
  margin-bottom: 3em;
  margin-left: .75em
}

.bubble {
  margin-bottom: .5em;
  color: #65524D;
}

.playListItem {
  background-color: #CCC7B9;
  border-radius: 10px;
}
