h1 {
  padding: 1em;
  /*text-align: center;*/
  margin: 0;
  font-family: 'Signika', sans-serif;
  color: #473d3b;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ede252;
  box-shadow: 0px 10px 15px #2f2e1a;
  position: relative;
  z-index: 1;
}

.cloud {
  width: 3em;
  height: 3em;
}

.content {
  display: flex;
  justify-content: space-around;
  font-family: 'IM Fell Great Primer', serif;
  background-color: #65524D;
  color: #CEC1AA;
}

.updateButton {
  margin-top: 2em;
}

.container {
  margin-top: 1em;
}

input {
  margin: .25em 0em 3em .75em;
  background-color: #EAF9D9;
  border: none;
  padding: .3em;
  font-size: 18px;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

p {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: bold;
}

textarea {
  margin: .25em 0em 3em .75em;
  background-color: #EAF9D9;
  border: none;
  padding: .3em;
  font-size: 18px;
  border-radius: 5px;
}

textarea:focus {
  outline: none;
}

.bubble {
  margin-bottom: .5em;
  color: #65524D;
}

.playListItem {
  background-color: #CCC7B9;
  border-radius: 10px;
  padding: .5em;
  font-size: 18px;
  width: 22em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

button {
  background-color: #ede252;
  border: none;
  padding: .5em 1em .5em 1em;
  font-size: 16px;
  color: #65524D;
  font-family: 'Signika', sans-serif;
}

button:focus {
  outline: none;
}

.addButton {
  margin-left: .75em;
}
